.defaultAvatarLarge {
    margin-left: 1rem;
    display:inline-block;
    grid-area: A;
    margin-top: 0%;
    padding-top: 0%;
    border-radius: 180px;
    width: auto;
    color: white;
    height: auto;
    border-color: rgb(218, 67, 92);
    border-style: solid;
    min-width: 100px;
    min-height: 100px;
    max-width: 180px;
    max-height: 180px;
    background-color: rgb(18, 87, 87);
    text-align: center;
}
.defaultAvatarLarge label {
  
    display: inline;
    vertical-align: middle;
}
.defaultAvatarLarge span{
    margin-top: 1.4rem;
    vertical-align: middle;
    display: inline-block;
    font-size: xx-large;
   
}

.avatarLarge{
    vertical-align: middle;
    margin-bottom: 0%;
    margin-top:0.5rem;
    grid-area: A;
    border-radius: 180px;
    height: auto;
    width: 100%;
    
    max-width: 200px;
    max-height: 200px;
    object-fit:contain;

}
.avatarLarge:hover{
    box-shadow: 0px 0px 20px 2px rgb(243, 79, 106);
}

.defaultAvatarSmall{
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
    color: white;
    height: auto;
    border-color: rgb(218, 67, 92);
    border-style: solid;
    background-color: rgb(18, 87, 87);
    border-radius: 180px;
    width: 60px;
    height: 60px;
}
.defaultAvatarSmall span{
    margin-top: 22%;
}
.avatarSmall{
    text-align: center;
    color: white;
    height: auto;
    border-color: rgb(218, 67, 92);
    border-style: solid;
    border-radius: 180px;
    width: 60px;
    height: 60px;
}

@media(max-width:635px){
    .avatarLarge{
        max-height: 150px;
    }
}
@media(max-width:473px){
    .avatarLarge{
        max-height: 130px;
        max-width: 130px;
    }
}
@media(max-width:443px){
    .avatarLarge{
        max-height: 100px;
        max-width: 100px;
    }
}