.chatWrapper {
    border: 1px double lightgray;
    border-radius: 5px;
    position: relative;
    height: 90%;
    max-height: 700px;

}

.chatContent {

    position: relative;
    height: calc(90% - 5px);
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    border-top: 1px double lightgray;
    grid-template-areas:
        "ChatList Messages";

    flex-direction: column;
}

/* MESSAGE AREA  */
.messageAreaContainer {
    padding-top: 1rem;
    grid-area: Messages;
    position: relative;
    overflow-y: hidden;
    height: calc(100% - 1.4rem);
    max-height: 700px ;
    text-align: center;

}
.messageArea{
    height: calc(100% - 3rem);

    overflow-y: scroll;
}
.noMessages {
    padding-top: 30%;
}

.mailboxIcon {
    height: 80px;
    width: 90px;
}

/* CHAT MAIN STYLES */
.chatMain {
    position: relative;
    display: inline-block;
    grid-area: Messages;

    text-align: center;
    height: calc(100%);

}

.emptyChatIMG {
    margin-top: 20%;
    width: 80px;
    height: 80px;
}

.chatHeader {
    position: relative;
    text-align: center;
    height: 1.5rem;
    vertical-align: middle;

}

/* CHAT LIST STYLES */
.chatListSidebar{
    grid-area: ChatList;

    height: calc(100% - 1.5rem);

    overflow-y: scroll;
    padding-top: 1rem;
    border-right: 1px double lightgrey;
}
.chatListWrapper {

    grid-area: ChatList;
    height: calc(100% - 1.5rem);
    overflow-y: scroll;
    padding-top: 1rem;
    border-right: 1px double lightgrey;

}

::-webkit-scrollbar {
    display: none;
}

.userMiniPage {

    margin: 0rem 0rem 2rem 1rem;
}

.chatListFullName {
    margin-left: 1rem;
}

.emptyChatList {
    margin-top: 35%;

    text-align: center;
    font-weight: 400;
}

.userMini {
    position: relative;
    width: max-content;
    cursor: pointer;
    margin: 0rem 0rem 1.5rem 1rem;
    transition: 0.3s;
    /* Время эффекта */
    display: block;
}

.userMini:hover {
    transform: scale(1.2);
}
.userMini:active {
    transform: scale(1.5);
}

/* CHAT INPUT */

.inputWrapper {
    position: absolute;
    bottom: 0;
    width:99%;
    padding: 4px 0rem 4px 0.0rem;
    border-width: 1px;
    border-style: groove;
    border-color: grey;
    border-radius: 10px;



}

.formik {
    display: inline;
    padding: 1rem 0.5rem 2rem 1rem;
}

.emoji {
    display: inline;
    vertical-align: middle;
    margin-left: 0.5rem;
    width: 25px;
    height: 25px;
}

.inputWrapper button {
    border: none;
    color: #0095F6;
    background-color: transparent;
    vertical-align: middle;
}

.messageInput {
    height: 2rem;
    border-radius: 5px;
    border-style: none;
    display: inline;
    width: 65%;

    vertical-align: middle;

}

.messageInput:active {
    border: none;
    border-style: none;
    outline: none;
}
@media(max-width : 538px){
    .messageArea{
        position: relative;
        overflow-y: scroll;
        height: calc(100% - 3rem);
    }
    .chatMain{
        display: none;
    }
    .chatContent{
        display: block;
        height: 100%;
    }
    .chatListSidebar{
        display: none;
    }
    .chatWrapper{
        border: none;
        height: 90%;
    }
    .inputWrapper{
        background-color: white;
        width: 100%;
        position: fixed;
        bottom: 3.7rem;
        left: 0;

    }
    .userMini:hover {
        transform: none;
    }
    .userMini:active {
        transform: none;
    }
}
@media(max-width : 314px){
    .messageInput{
        width: 50%;
    }
}