.chatListWrapper{
    width: 100%;
    height: auto;
    max-height: 800px;
    grid-area: chatList;
    border-style: solid ;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    display: grid;
    overflow-y: scroll;
    
}

.userMiniPage{
    margin-left: 1rem;
    display: flex;
}
.chatListWrapper span{
    margin-top: 10%;
    margin-left: 1rem;
    font-size: larger;
    vertical-align: middle;
}
.chatListWrapper img{
    margin-top: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 180px;
    overflow: scroll;
    object-fit: cover;
}

@media(max-height:767px){
    .chatListWrapper{
        max-height: 650px;
    }
}
@media(max-height:707px){
    .chatListWrapper{
        max-height: 600px;
    }
}
@media(max-height:654px){
    .chatListWrapper{
        max-height: 550px;
    }
}

