.currentUserMessage {
    text-align: right;
}
.currentUserMessage span {
    margin-right: 1rem;
    border-radius: 30px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    background-color: lightgrey;
}
.message{
    text-align: left;
}
.message span{
    margin-left: 1rem;
    border-radius: 15px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border: 1px solid grey;
}