.currentUserMessage {


    
    text-align: right;
}
.currentUserMessage span {
    
    border-radius: 30px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    background-color: aqua;
}
.message{
    text-align: left;
}
.message span{
    border-radius: 30px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    background-color: aqua;
}