.navbarContainer{

    
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: calc(100% - 8px) ;
    /* max-width: 700px; */
    height: 7%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px double grey;
    
}
.navigation_list{
    padding: 0%;
    vertical-align: middle;
    text-align: center;
    display: inline;
}
.navigation_list li {
    position: relative;
    top: 0.5rem;
    margin: 10px;
    margin-top: 1rem;
    display: inline;
}
.navigation_list img{
    display: inline;
    width: auto;
    height: 100%;
    max-height: 30px;
    max-width: 30px;
}

@media (max-width : 450px) {
    .navbarContainer{
        position: fixed;    
        bottom:8px;
        border-top: 1px groove rgb(42, 42, 42);
    }
}