.navbarContainer{
    
    margin-top: 0%;
    padding-top: 0%;
    width: 100%;
    max-width: 1300px;
    text-align: center;
}
.navigation ul{
    margin: 0%;
    padding: 0%;
    text-align: center;
}


@media(max-width:430px){
    .navbarContainer{
        max-width: 380px;
    }
    .navigation img{
        text-align: center;
        max-width: 25px;
        max-height: 25px;
        margin: 0vh 2vh 0vh 2vh;
    }
    .navigation ul{
        text-align: center;
    }

}
@media(max-width:300px){
    .navigation img{
        max-width: 20px;
        max-height: 20px;
        margin: 0vh 2vh 0vh 2vh;
    }
    .navigation ul{
        text-align: center;
    }
}
.navbarContainer img {
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    margin: 0vh 1vh 0vh 1vh;
}
li {
    margin-top: 0%;
    padding-top: 0%;
    display: inline;
}
.hr{
    width: 100%;
}