.postWrapper{

    display: flex;
    flex-direction: column;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr;
    gap: 0.3rem;
    grid-template-areas: 
    "IMG"
    "CreatorInfo"
    "INFO"
    "COM"
    "INPUT";
}
.creatorInfo{
    grid-area: CreatorInfo;
    padding: 0%;
    margin: 0%;
}
.comentIcon{
    vertical-align: middle;
    margin-left: 0.5rem;
    width: auto;
    height: 100%;
    max-height: 25px;
}
.autorName{
    margin-left: 1rem;
    display: inline;
    font-size:medium;
    text-decoration: none;
    grid-area: Name;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.autorAvatar{
    width: auto;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 180px;
}
.likesCount
{

    margin-left: 1rem;
    vertical-align: middle;
}
.hr{
    height: 1px;
    background-color: lightgrey;
    width: 350px;
}
.postIMG{
    grid-area: IMG;
    width: 100%;
    height: auto;
    max-width: 650px;
    max-height: 450px;
    object-fit:cover;
}
.likeIcon{
   
    vertical-align: middle;
    width: auto;
    height: 100%;
    max-height: 25px;
}

.comentsWrapper{
    margin-left: 1vh;
    grid-area: COM;

}
.showAll{
    margin: 0%;
    padding: 0%;
    font-weight: 700;
    text-align: center;
    font-size: medium;
}
.comentText{
    
    font-weight: 300;
}
.deleteComent{
    vertical-align: middle;
    width: 100%;
    height: 100%;
    max-width: 23px;
    max-height: 23px;
}
.closeWrapper{
    padding: 0%;
    margin: 0% 0% 0% 58%;
    vertical-align: middle;
    justify-content: right;
    display: inline-block;
    text-align: right;
}
.singleComentWrapper span{

    font-weight: 600;
}
.comentsWrapper img{
    width: 40px;
    height: 40px;
    border-radius: 180px;
}

.postInfo h5{
    display: inline;
}
.postInfo{
    margin-left: 1vh;
    margin-top: 0%;
    grid-area: INFO;
}
.buttons{
    margin-left: 1vh;
    grid-area: BTN;
    
}
.buttons span{
    margin-top: -2vh;
}
.buttons img{
    display: inline;
}
.deletePost{
    vertical-align: middle;
    margin-left: 57%;
    width: 25px;
    height: 25px;
    display: inline;
}
