.postWrapper{

    display: flex;
    flex-direction: column;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr;
    gap: 0.3rem;
    grid-template-areas: 
    "IMG"
    "CreatorInfo"
    "INFO"
    "COM"
    "INPUT";
}
.creatorInfo{
    grid-area: CreatorInfo;
    padding: 0%;
    margin: 0%;
}
.autorName{
    display: inline;
    font-size: large;
    grid-area: Name;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.autorAvatar{
    width: auto;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 180px;
}
.hr{
    height: 1px;
    background-color: lightgrey;
    width: 350px;
}
.postIMG{
    grid-area: IMG;
    width: 100%;
    height: auto;
    max-width: 650px;
    max-height: 450px;
    object-fit:cover;
}
.likeIcon{
    width: auto;
    height: 100%;
    max-height: 40px;
}
.comentsWrapper{
    margin-left: 1vh;
    grid-area: COM;

}
.comentsWrapper img{
    width: 40px;
    height: 40px;
    border-radius: 180px;
}

.postInfo h5{
    display: inline;
}
.postInfo{
    margin-left: 1vh;
    margin-top: 0%;
    grid-area: INFO;
}
.buttons{
    margin-left: 1vh;
    grid-area: BTN;
    
}
.buttons span{
    margin-top: -2vh;
}
.buttons img{
    display: inline;
}
.ComentInput{
    margin-left: 1vh;
    grid-area: INPUT;
}