.wrapper{
    grid-area: postList;
}
.postsWrapper::-webkit-scrollbar {
    display: none;
}
.postsWrapper{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-gap: 0.5rem;

}

.postPreview{
    display: grid;
    width:100%;
    max-width:250px;
    height:100%;
    max-height: 250px;
    object-fit:cover;
}