.container{
    display: block;
    position: fixed;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    height: 100%;
    width: 100%;
    
}
.container h3{
    text-align: left;
    margin-left: 2rem;
}
.loginFormsDIV{
   font-size: larger;
    /* margin: 0% 5% 0% 10%; */
    text-align: center;
}
.loginForms input{
    width: 80%;
    margin-bottom: 2rem;
    border-radius: 5px;
    border-width: 1px;
    height: 2.5rem;
    font-size: large;
    border-style: none;
    background-color: lightgray;
}

.loginFormsOnError input{
    background-color: black;
    border-radius: 5px; 
    border-width: 1px;
    --main-bg-color : rgb(215, 64, 64);
    border-color: var(--main-bg-color);
    height: 2.5rem;
    border-style:solid;
    background-color: lightgray;
}
.loginForms input:focus{
    border-style: none;
    outline: none;
    box-shadow: 0px 2px 10px 2px rgb(32, 37, 65);
}
.hrReg{
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin-top: 30%;
    margin-bottom: 1rem;
}
.registrationButton{
    
    width: 81%;
    height: 40px;
    font-size:small;
    font-weight: 500;
    border-radius: 5px;
    background-color: lightgrey;
    border-width: 1px;
    color: white;
    font-size: large;
    border: none;
    background-color: rgb(0, 142, 251);
    margin-bottom: 1rem;
    
}
/* STEP 2 REGISTRATION PAGE */
.registrationStep2 {
    transform: translateX(-150%);
    animation: step2 0.7s forwards;

}

@keyframes step2 {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateY(0);
    }
}
.regUserStatus{
    width: 30%;
}
.registrationStep2{

}
.regUserStatus{

}
.avatarPicker{
    margin: 20% 0 20% 0;
    position:relative;
    width: 100%;
    text-align: center;
}
.registrationAvatar{
    margin-bottom: 2rem;
    text-align: center;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.regAvatarIcon {
    text-align: center;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
}