.container {
    position: relative;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    height: calc(100% - 5rem);
    width: calc(100% - 4px);

}

.inputOnError {
    width: 80%;
    padding-left: 20px;
    border-radius: 5px;
    height: 2.5rem;
    font-size: large;
    border-style: none;
    background-color: lightgray;
    border: px double rgb(199, 95, 95);
    border-radius: 5px;
}

.regError {
    width: 100%;
    color: rgb(197, 71, 71);
    font-size: large;
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: middle;
}

.loginForms {
    margin-top: 2rem;
    font-size: larger;

    text-align: center;
}

.regInput {
    width: 80%;
    padding-left: 20px;
    border-radius: 5px;
    border-width: 1px;
    height: 2.5rem;
    font-size: large;
    border-style: none;
    background-color: lightgray;
}


.loginForms input:focus {
    border-style: none;
    outline: none;
    box-shadow: 0px 2px 10px 2px rgb(32, 37, 65);
}

.container span {
    display: block;
    margin: 0;
    padding: 0;

}

.container button {
    position: absolute;
    bottom: 0.5rem;
    right: calc(50% - 150px);
    width: 300px;
    height: 40px;
    font-size: small;
    font-weight: 500;
    border-radius: 5px;
    background-color: lightgrey;
    border-width: 1px;
    color: white;
    font-size: large;
    border: none;
    background-color: rgb(0, 142, 251);

}

.container button:disabled {
    background-color: rgb(187, 215, 236);

}