.searchWrapper{
    width: 100%;
    overflow-y:scroll;
    height: 100%;
}

.searchResults{
    margin-top: 1rem;
}
.userMiniPage img{
    display: inline;

}
.userName{
    display: inline;
    margin-left: 1rem;
    font-size: larger;
}
.userMiniPage{

    margin-bottom: 1rem;
}
.searchWrapper input{
    right: 1rem;
    width: 35%;
    height: 2rem;
    font-size: medium;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color:lightgrey;
    -webkit-transition: all 0.4s ;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.searchWrapper input:focus{
    outline-width: 0;
    width: 97%;
}
