.searchWrapper{
    width: 100%;
    display: grid;
    overflow-y: scroll;
    height: 100%;
}
.searchResults{
    margin-top: 1rem;
}
.userMiniPage img{
    display: inline;

}
.userName{
    margin-left: 1rem;
    font-size: large;
}
.userMiniPage{
    margin-bottom: 1rem;
}