.inputWrapper{
    grid-area: input;
    margin: 5vh 2vh 0rem 2vh;

    height: 100%;
    max-height: 50px;
    display: grid;
    border-radius: 180px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
.textAreaWrapper{
    display: flex;
    vertical-align:middle;
}
.emoji{

    margin: 0.7rem 0rem 0rem 1rem;
    width: 100%;
    height: auto;
    max-width: 25px;
    max-height: 25px;
    display: inline;
    vertical-align: middle;
}
.inputWrapper button{
    margin-top: 1.5vh;
    display: inline;
    vertical-align: middle;
    border : none;
    font-size: 17px;
    font-weight: 500;
    color: #0095F6;
    background-color:transparent;
}

.messageInput{
    padding-left: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 1.5rem;
    margin-top:1vh;
    border: none;
    width: 50%;
    vertical-align: middle;
    display: inline-block;
   
}
.messageInput:active{
    border: none;
}
@media(max-height:667px){
    .messageInput{
        height: 1rem;
    }
    .emoji{
        margin: 0.5rem 0rem 0rem 0.7rem;
        max-height: 17px;
        max-width: 17px;
    }
    .inputWrapper{
        max-height: 30px;
    }
}