.app {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: inherit;
    height: 100%;
    
    /* grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "Navbar"
    "ContentArea"; */
}